In [17]:
import pandas as pd
import os

In [21]:
df = pd.DataFrame()
for file in os.listdir():
    if file.endswith('.csv'):
        df = df.append(pd.read_csv(file, low_memory=False), ignore_index=True)
        print(df.shape)

df.drop_duplicates(subset=['jk'], inplace=True, keep='first')

df.shape

(488, 18)
(1605, 19)
(2186, 19)
(2718, 19)
(2745, 19)
(2852, 19)
(3214, 19)
(3229, 19)

(2703, 19)

In [19]:
df[['cmp','city','title']]

,cmp,city,title
0,FINCITY CONSULANCY SERVICES L.L.C,Los Angeles,Business Operations Manager
1,Confidential,Carson,Operations Manager - Construction Experience
2,WINDSHIELD EXPERTS,Los Angeles,Operations Manager
3,Wags and Walks,Los Angeles,Operations Manager
4,Confidential,Los Angeles,Operations Manager
...,...,...,...
3157,Hill+Knowlton Strategies,Los Angeles,Strategy Analyst
3162,Warner Bros Careers,Burbank,Sr. Analyst
3163,The Walt Disney Company (Corporate),Burbank,Corporate Financial Planning Analyst
3164,Warner Bros Careers,Century City,Analyst
3166,Beyond Meat,El Segundo,Analyst